<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>布団洗い予約詳細画面</h1>
    </div>
    <div class="col-12 mt-3 text-center content">
      <div>
        <label><strong>日付：</strong></label>
        <p style="display:inline;"><%= @reservation.day %></p>
      </div>
      <div>
        <label><strong>時間：</strong></label>
        <p style="display:inline;"><%= @reservation.time %></p>
      </div>
      <div>
        <label><strong>顧客ID：</strong></label>
        <p style="display:inline;"><%= @reservation.customer_id %></p>
      </div>
      <div>
        <label><strong>氏名：</strong></label>
        <p style="display:inline;"><%= @reservation.customer.family_name %><%= @reservation.customer.first_name %></p>
      </div>
      <div>
        <label><strong>電話番号：</strong></label>
        <p style="display:inline;"><%= @reservation.customer.tel %></p>
      </div>
      <div>
        <label><strong>メールアドレス：</strong></label>
        <p style="display:inline;"><%= @reservation.customer.email %></p>
      </div>
    </div>
    <div class="col-12 text-right">
      <%= link_to '予約状況一覧画面に戻る', admin_reservations_path %>
    </div>
  </div>
</div>