  <p id="notice"><%= notice %></p>

    <div class="container">

        <div class="row">
         <div class="col-lg-9">
          <div class="skippr">
           <!--<h3>布団洗い最新情報</h3>-->
            <div style="height: 400px; background-image: url(<%= asset_path "tenpo.jpg" %>)"></div>
            <div style="height: 400px; background-image: url(<%= asset_path "arai_before.jpg" %>)" ></div>
            <div style="height: 400px; background-image: url(<%= asset_path "arai_after.jpg" %>)" ></div>
            <div style="height: 400px; background-image: url(<%= asset_path "yogore_before.jpg" %>)" ></div>
            <div style="height: 400px; background-image: url(<%= asset_path "yogore_after.jpg" %>)" ></div>
            <div style="height: 400px; background-image: url(<%= asset_path "bunkatu.jpg" %>)" ></div>
         </div>
        </div>

<!-- スライダーのコンテナ -->
<div class="swiper">
  <!-- 必要に応じたwrapper -->
  <div class="swiper-wrapper">
    <!-- スライド -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
</div>

           <div class="col-lg-3" style="background-color: aqua;">
          　<h4>Twitter投稿最新情報</h4>
          　   <div class="row">
          　    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">洗濯前が2.2ｋｇの羽毛布団で乾燥時間を検証👌<br>1回目５４分乾燥機を回すと２．０５ｋｇ、更に１８分乾燥すると２．００ｋｇになりました！<br>念の為もう一度乾燥しましたが２．００ｋｇのままでしたので終了〜<br>このお布団の場合は、７２分(約８００円)必要だったことになりますね。 <a href="https://t.co/DDVgVi2hi9">pic.twitter.com/DDVgVi2hi9</a></p>&mdash; フトン洗いの匠 (@futonarai007) <a href="https://twitter.com/futonarai007/status/1502984341970128899?ref_src=twsrc%5Etfw">March 13, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
              <!--<div class="row">-->
              <!--  <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">乾燥機をご利用のお客様用として　静電気防止シートを２種類🌺設置しております。<br>もちろん無料です！！<br>嫌なパチパチ⚡予防にお使い下さい🙂　<br>※ご注意※　お洗濯物に少し香りが付きます <a href="https://t.co/gPInRDVsI7">pic.twitter.com/gPInRDVsI7</a></p>&mdash; フトン洗いの匠 (@futonarai007) <a href="https://twitter.com/futonarai007/status/1502982608179044357?ref_src=twsrc%5Etfw">March 13, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
              <!--</div>-->
              <!--<div class="row">-->
              <!--  <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">和布団は綿がフカフカ復活してボリュームアップすることが多いのですがポリエステル布団は見た目でフカフカボリュームアップ！というわけではありません☺️<br>その布団ごとに清潔で気持ちのいいお布団になると思います🤗ので是非お布団を洗って見てください⭐ <a href="https://t.co/uOJtRRTbzB">pic.twitter.com/uOJtRRTbzB</a></p>&mdash; フトン洗いの匠 (@futonarai007) <a href="https://twitter.com/futonarai007/status/1502980202116554752?ref_src=twsrc%5Etfw">March 13, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
              <!--</div>-->
              <div class="row">
                <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">知らないうちに、カビだらけ😭という布団は多いと思います☺️<br>カビ取りしてキレイになりました❗<br>通気性を良くしたり、ひきっぱなしを止めたり、たまに当店に　乾燥だけでもしにきたりして、カビ対策をとれば同時にダニ対策にもなりますし、少し手間をかけて寝具の環境をアップさせてみて下さい☺️ <a href="https://t.co/bCfWgPoe5F">pic.twitter.com/bCfWgPoe5F</a></p>&mdash; フトン洗いの匠 (@futonarai007) <a href="https://twitter.com/futonarai007/status/1502983366542782465?ref_src=twsrc%5Etfw">March 13, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
           </div>
         </div>
         </div>

<script>
const swiper = new Swiper(".swiper", {});
</script>

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-8">-->
<!--      <h4>布団洗いbefore（煎餅布団が）</h4>-->
<!--      <div>-->
           <%#= image_tag 'arai_before', size: "650x650" %>
<!--      </div>-->
<!--      <h4>布団洗いafter（ふわふわに）</h4>-->
<!--      <div>-->
        <%#= image_tag 'arai_after', size: "650x650" %>
<!--      </div>-->
<!--      <h4>布団洗いbeforeその２（汚れがついた布団が）</h4>-->
<!--      <div>-->
<!--        <%#= image_tag 'yogore_before', size: "650x650" %>
<!--      </div>-->
<!--      <h4>布団洗いafterその２（綺麗に）</h4>-->
<!--      <div>-->
<!--        <%#= image_tag 'yogore_after', size: "650x650" %>
<!--      </div>-->
<!--    </div>-->

