<p id="notice"><%= notice %></p>
<h3>布団洗い最新情報</h3>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h4>布団洗いbefore（煎餅布団が）</h4>
      <div>
        <%= image_tag 'arai_before', size: "650x650" %>
      </div>
      <h4>布団洗いafter（ふわふわに）</h4>
      <div>
        <%= image_tag 'arai_after', size: "650x650" %>
      </div>
      <h4>布団洗いbeforeその２（汚れがついた布団が）</h4>
      <div>
        <%= image_tag 'yogore_before', size: "650x650" %>
      </div>
      <h4>布団洗いafterその２（綺麗に）</h4>
      <div>
        <%= image_tag 'yogore_after', size: "650x650" %>
      </div>
    </div>
    <div class="col-lg-4" style="background-color: aqua;">
    　<h6>Twitter投稿最新情報</h6>
        <div class="row">
        </div>
        <div class="row">
        </div>
    </div>
  </div>